<div>
  <h1 class="title">
    {{ speak() }}!
  </h1>
  <ul>
    <li *ngFor="let car of cars">
      {{ car.make }} {{ car.model }} with a mileage of {{ car.miles }}
    </li>
  </ul>

  <div class="container">
    <div class="form">
      <input type="text" [(ngModel)]="make" placeholder="make">
      <input type="text" [(ngModel)]="model" placeholder="model">
      <input type="number" [(ngModel)]="miles" placeholder="miles">
    </div>
    <button (click)="addCar()">add Car</button>
  </div>

  <div class="container">
    <div class="number-display">
      {{ counter }}
    </div>
    <button (click)="increment()">Increment</button>
  </div>

  <div class="container">
    <div class="display">
      {{phrase}}
    </div>
    <button (click)="updateText()">Click me</button>
  </div>

  <div class="container">
    <div class="display">
      {{ username }}
    </div>
    <input type="username" [(ngModel)]="username" placeholder="enter a username">
  </div>
</div>
