.title {
  text-align: center;
}

.container {
  margin-bottom: 20px;
}

.container > div {
  margin-bottom: 10px;
}

.container .form {
  display: flex;
  flex-direction: column;
}

.container .form input {
  width: 30%;
}
